<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @account.owner %>
</p>

<p>
  <strong>Age:</strong>
  <%= @account.age %>
</p>

<p>
  <strong>Email:</strong>
  <%= @account.email %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
